html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6em;
  line-height: 1.6;
  color: $color-black;
  font-family: $font-family;
  overflow: hidden;
}

.particles {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
